.app {
    display: flex;
    align-items: flex-start;

    height: calc(100vh - var(--spacing) * 4);
    padding: calc(var(--spacing) * 2);
}

.app .controls {
    flex: 1;
    border-radius: var(--border-radius);
    margin-right: calc(var(--spacing) * 2);
}

.app .controls .input {
    margin-bottom: var(--spacing);
}

.app .controls .audio-row .input {
    margin-bottom: 0;
}

.app .controls .audio-row {
    display: flex;
    align-items: center;
}

.app .controls .audio-row .muted {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: var(--spacing);
}

.app .controls .audio-row .muted svg {
    width: var(--font-size);
    height: var(--font-size);
    fill: var(--tint-2);
}

.app .video {
    height: 100%;
    flex: 4;
    background: var(--shade-2);
    border-radius: var(--border-radius);
    border: var(--border);
}

.app .video video {
    width: 100%;
    height: 100%;

    overflow: hidden;
}